* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
     margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7f8;
}


.header {
    background: #1faa00;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}


.btn {
    background: #1faa00;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background: #148a00;
}


table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th {
    background: #1faa00;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    margin-bottom: 20px;
}


.hero {
    height: 500px;
    background: url("images/Bus.jpeg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}


.search-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

/* SEARCH FORM */
.search-form {
    display: flex;
    gap: 12px;
    align-items: center;
}

.search-form input {
    height: 45px;
    padding: 0 12px;
    border-radius: 8px;
    border: 1px solid #28a745;
    font-size: 15px;
}

.search-form button {
    height: 45px;
    padding: 0 25px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.search-form button:hover {
    background: #1e8e3e;
}

.swap {
    font-size: 20px;
    color: #28a745;
}

/* STEPS */
.steps {
    padding: 50px;
    text-align: center;
}

.step-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.step {
    width: 220px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}






